root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

[*.cs]
file_header_template = Copyright (c) 2021 - BITFIN Tecnologia Ltda. Todos os Direitos Reservados.\nCódigo exclusivo para consumo dos serviços (APIs) da BITSIGN.